<h1> <%= @bookmark.url %> </h1>
<div>
  <% if policy(Bookmark.new).create? %>
    <%= link_to "Delete Bookmark", [@bookmark.topic, @bookmark], method: :delete, class: 'btn btn-danger' %>
    <%= link_to "Edit Bookmark", edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: 'btn btn-success' %>
  <% else %>
    <%= link_to "Delete Bookmark", [@bookmark.topic, @bookmark], method: :delete, class: 'btn btn-default' %>
    <%= link_to "Edit Bookmark", edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: 'btn btn-default' %>
    <h6> (you must be signed in to edit bookmarks!)</h6>
  <% end %>
</div>
