<h1>Topics</h1>

<div class="row">
  <div class="col-md-6">
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-heading">
          <h4><%= link_to topic.title, topic %></h4>
        </div>
        <div class="media-body">
          <div class="col-md-8 panel panel-info">
            <% topic.bookmarks.each do |bookmark| %>
              <ul>
                <li>
                  <%= if bookmark.url.include? "http://" or bookmark.url.include? "https://"
                            link_to bookmark.url, bookmark.url, target: :_blank
                         else
                            link_to bookmark.url, "http://" + bookmark.url, target: :blank
                         end %>
                  <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h6>(Click on a topic to edit it, or its underlying bookmarks)</h6>
</div>


<div class="col-md-4">
  <% if policy(Bookmark.new).create? %>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
  <% else %>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-default' %>
    <h6> (you must be signed in to create a new topic!)</h6>
  <% end %>
</div>
